dataset/winemag-data-130k-v2.csv
venv/
.idea/
dataset/cats.csv
dataset/config_insta.json
dataset/dogs.csv
dataset/dogs_backup.csv
scraping_ludovic_DELSOL.zip
ludovic_delsol_ynov.zip
readme.md
image/
save/
dataset/cordis-fp7projects.csv
dataset/flight_airports.dat
dataset/flight_flow.dat